<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.bookMapper">
<select id="getAllBook" resultType="com.zy.bean.bsBook">
    select * from bs_book
</select>

</mapper>